
#content{
	opacity:0.90;
	margin: 30px 0;
	background: #ffffff;
	border: 1px solid black;
	filter: alpha(opacity=60);
	padding: 20px;
	clear: both;
}

#content p{
	font-size: 1.5em;	  
	font-weight:bold;
	color:#000000;
	font-weight:normal;
	font-size: 18px;
	font-family:Georgia;
	opacity: 0.80;
}

#menu, #menu ul {
padding: 3px 0 0 0;
margin: 0;
list-style: none;
}

#menu li {
float: left;
width: 120px;
}

#menu ul {
position: absolute;
width: 120px;
left: -1000px;
}

#menu li:hover ul, #menu li.ie_does_hover ul {
left: auto;
background-position: 0 0;
}

#menu a {
display: block;
margin: 2px 5px 3px 5px;
text-decoration: none;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 1em;
}

ul a{
font-weight: bold;
color: #F60;
cursor: default;
}

ul ul a:link, ul ul a:visited{
font-weight: normal;
color: #CCC;
cursor: pointer;
}

ul ul a:hover, ul ul a:active{
font-weight: normal;
color: #FFF;
cursor: pointer;
}

ul li{
background-color: #CCC;
border-left: 3px solid #FFF;
}

ul ul li{
background-color: #666;
border-top: 3px solid #FFF;
border-left: 0;
}

/* IE only hack \*/
* html ul li, * html ul ul li{
border-bottom: 3px solid #FFF;
}

* html ul ul li{
border-top: 0;
}
