#menu ul {  
    list-style-type: none;  
}  
#menu ul li {  
    display: inline;  
    margin: 0;  
}  
#menu ul li a {  
    padding: 15px;  
    background-color: #44699C;  
    font-family: Verdana;  
    color: white;  
}  
#menu ul li a:hover {  
    /* Nieuw */  
    background-color: #5F94DC;  
}  

#container
{
	margin: 0 auto;
	width: 900px;
	background:#fff;
	position:relative;
	top:-10px;
}
#header
{
	background:#ccc;
	background-image:url('uvalogo.jpg');
	color:#FFF;
	text-shadow: -4px 4px #000;
	font-size:100%;
	padding: 16px;
	height:275px;
	
}
#navigation
{
	float: left;
	width: 900px;
	background:rgba(55,55,55,0.5);

	position: absolute;
	top:259px;
}

#navigation ul
{
	margin: 0;
	padding: 0;

}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 15px 20px;
	color:#fff;
	text-decoration: none;

}

#navigation li a:hover 
{ 
	background:rgba(192,192,192,0.5); 
	color:#FFF;

}


#navigation li#current a {
	background:#FFF; 
	color:#333;

}


#content
{	
	min-height:400px;
	clear: left;
	padding: 20px;
	-webkit-animation: fadein 0.5s;
	-moz-animation: fadein 0.5s;
	-ms-animation: fadein 0.5s;
	-o-animation: fadein 0.5s;
	animation: fadein 0.5s;
}

#contentlong
{	
	min-height: 800px;
	clear: left;
	padding: 20px;
	-webkit-animation: fadein 0.5s;
	-moz-animation: fadein 0.5s;
	-ms-animation: fadein 0.5s;
	-o-animation: fadein 0.5s;
	animation: fadein 0.5s;
}
#footer
{
	background:#ccc;
	background-image:url('uvalogo.jpg');
	opacity:0.85;
	color:#fff;
	text-align: right;
	padding: 15px;
	height: 250px;
	position:relative;
	bottom:-18px;
}
