#menu ul {  
    list-style-type: none;  
}  
#menu ul li {  
    display: inline;  
    margin: 0;  
}  
#menu ul li a {  
    padding: 15px;  
    background-color: #44699C;  
    font-family: Verdana;  
    color: white;  
}  
#menu ul li a:hover {  
    /* Nieuw */  
    background-color: #5F94DC;  
}  

#container
{
	margin: 0 auto;
	width: 900px;
	background:#fff;
	position:relative;
	top:-10px;
